.contain3
{
  background-image: url("https://i.imgur.com/XteOYmg.jpg");
  width: 100%;
  min-height:700px;
  max-height: 900px;
  background-size:100% auto;
  padding-top: 130px;
  padding-left: 50px;
}

.icons
{
  display: block;
  max-width: 50%;
}


@media screen and (max-width:500px) {
    input{
        width:80px;
        height:100px;
    }
}
