.Formula
{
	width: 100%;
	min-height: 500px;

	background-color: #781e13;
		margin-top:50px;
		margin-bottom: 50px;


}


.Eco
{
	width: 100%;
	min-height: 500px;

	background-color: #e9b007;
		margin-top:50px;
		margin-bottom: 50px;
}
