<div >

  <!-- div for the formula -->

  <div class="Formula">



        <div class="row">

          <div class="col col-3">
            <img  src="https://i.imgur.com/es6KHVr.png">
          </div>

          <div class="col col-9">

            

        </div>




      </div>

</div>

  <div class="Eco">

    <div class="container">

      <div class="row">

        <div class="col col-3">

        </div>

        <div class="col col-9">

        </div>

      </div>

    </div>

  </div>




</div>
