<carousel [interval]="my_inverval">
  <slide id="S1" >
    <div class="slide1">


      <div class="row">

        <div class="col col-7 empty">

        </div>

        <div class="col col-5 black">

          <div id="value"> 100 </div>

        </div>


    </div>
    </div>

  </slide>



  <slide id="S2"  >

    <div class="slide2">

            <div class="row">

              <div class="col col-7 empty">

              </div>

              <div class="col col-5 grey">
<div id="value2"> 100 </div>
              </div>


      </div>


    </div>

  </slide>



  <slide id="S3">

    <div class="slide3">

      <div class="row">

        <div class="col col-7 empty">

        </div>

        <div class="col col-5 black">
<div id="value3"> 100 </div>
        </div>


      </div>

</div>
  </slide>


</carousel>
